body {
	font-family: 'Kaisei Tokumin', Arial, serif;;
	font-size: 16px;
	background-image: url("../img/Deep-space.jpg");
	color: navajowhite;
}

h1, .hi {
	line-height: 10px;
}
dt {
	margin: 10px;	
}
ul {
	list-style: none;
}
li.navi {
	border-left: 20px solid navajowhite;
	margin-bottom: 20px;
  padding-left: 20px;
}
ol {
	list-style: upper-roman;
}

.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row {
	display: inline-block;
}
* html .row {
	height: 1%;
}
.row {
	display: block;
}
a:link {
	text-decoration: none;
	color: rgb(105,105,105);
}

a:visited {
	text-decoration: underline;
	text-decoration-color: white;
	color: white;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: dimgrey;
	color: blanchedalmond;
}
header {
	border-radius: 50px 50px;
	text-align:center;
	border: 2px solid white;
	margin-bottom: 10px;
	margin-top: 0;
	max-height: 150px;
	overflow: hidden;
}

nav {
	margin: 30px;
	border: 2px dotted ghostwhite;
	
}

main {
}


.content {
	float: center;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 1000px;
}

.fot {
	border-top: 2px solid white;
	margin-top: 20px;
	padding-top: 10px;
}
div.hard, div.soft {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	width: 48%;
}
.hard {
	border-right: 2px solid papayawhip;
	margin-bottom: 20px;
}
.spells {
	border: 2px solid white;
	border-radius: 20px 20px;
}
.about-me {
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 30px;
	border-bottom: 2px solid whitesmoke;
}

.portfolio {
	padding-left: 10px;
	border: 4px double floralwhite;
	border-radius: 20px 20px;
}

#me {
	text-decoration: underline;
	text-decoration-color: floralwhite;
}

.labels {
	text-shadow: 1px 1px 3px white;
}

.fot {
	text-align: center;
	color: white;
}

.link-git {
	
}
.link-git:hover {
	filter: invert(1);

}

.link-telegram {
	filter: invert(1);
}
.link-telegram:hover {
	filter: invert(0);
}