body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	background-image: url("../img/Deep-space.jpg");
	background-size: 100%;
	color: navajowhite;
}

html, body {
	height: 100%;
}

h1, .hi {
	line-height: 14px;
}

dt {
	margin: 10px;
}

ul {
	list-style: none;
}

li.navi {
	border-left: 20px solid navajowhite;
	margin-bottom: 20px;
  	padding-left: 20px;
}
ul.soft {
	list-style: circle;
}
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.row {
	display: inline-block;
}

* html .row {
	height: 1%;
}

.row {
	display: block;
}

.other-site {
	font-size: 20px;
}

a:visited {
	text-decoration: none;
	text-decoration-color: white;
	color: white;
}

a:link {
	text-decoration: none;
	color: rgb(220, 230, 245);
}

a:hover {
	text-decoration: underline;
	text-decoration-color: dimgrey;
	color: blanchedalmond;
}

header {
	border-radius: 50px 50px;
	text-align:center;
	border: 2px solid white;
	box-shadow: 0px 0px 3px whitesmoke;
	margin-bottom: 10px;
	margin-top: 0;
	overflow: hidden;
}

nav {
	padding-left: 10px;
	margin: 30px;
	border: 2px dotted ghostwhite;
	border-radius: 25px 25px;
}

.content {
	float: center;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 1000px;
}

div.hard, div.soft {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	width: 48%;
}

.hard {
	border-right: 2px solid papayawhip;
	margin-bottom: 20px;
}

.spells {
	border: 2px solid white;
	border-radius: 20px 20px;
}

.about-me {
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 30px;
	border-bottom: 2px solid whitesmoke;
}

.portfolio {
	margin-top: 30px;
	padding-left: 10px;
	border: 4px double floralwhite;
	border-radius: 20px 20px;
}

#me {
	text-decoration: underline;
	text-decoration-color: floralwhite;
}

.labels {
	text-shadow: 1px 1px 3px white;
}

.fot {
	border-top: 2px solid white;
	padding-top: 10px;
	margin-top: 50px;
	text-align: center;
	color: white;
}

.link-git {
	
}
.link-git:hover {
	filter: invert(1);

}

.link-telegram {
	filter: invert(1);
}

.link-telegram:hover {
	filter: invert(0);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

@media screen and (max-width: 813px) {

	div.hard, div.soft {
		margin-left: 10px;
		margin-top: 20px;
		width: 90%;
		padding-right: 15px;
	}

	div.hard {
		border: none;
		margin-right: 35px;
		margin-bottom: 20px;
	}

	.hi {
		line-height: 20px;
	}

	h1 {
		line-height: 26px;
	}

}

